# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data (do NOT upload datasets)
data/*
!data/README.md

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Streamlit cache
.streamlit/

# Docker
*.tar
